.VPNavBarTitle .title img.logo {
  height: 36px;
  margin-right: 0;
}

.VPHero .name {
  display: flex;
  align-items: flex-end;
}

.VPHero .name::before {
  content: '';
  flex-shrink: 0;
  width: 1.0715em;
  height: 1.0715em;
  background-color: var(--vp-home-hero-name-color);
  mask: url('/logo.svg') center / contain no-repeat;
}
